@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

#the-eye-in-the-waste blockquote{
	text-align: center;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}
