@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.inscription p{
	text-indent: 0;
	text-align: center;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}
